nav, 
header, 
footer{
    display: block;
}

body {
    margin: 0;
    background-color: #1b291e;
}

nav {
    width: 100%;
    margin: 0;
}

ul.topnav {
    background-color: #221c24;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

li.topnav-left {
    float: left;
}

li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    font-size: 0.25 in;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #abceb0;
}

ul.topnav li a:hover {
    background-color: #bcb7c5;
    color: #19301c;
}

ul.topnav li.dropdownIcon {
    display: none;
}

.background-img{
    background-size: cover;
    background-position: center;
    background-image: url(IMG_0080.jpg);
    height: 96vh;
    margin: 0;
}

.caption h1{
    position: relative;
    text-align: center;
    color: #222222;
    font-size:5vh;
    margin: -42vh 0 0;
}

.caption h2 {
    position: relative;
    text-align: center;
    color: #eeeeee;
    font-size: 2vh;
}

.detail {
    margin: 40vh 15% 20vh ;
}

.detail h1, h2, h3, li{
    color: #eeeeee;
}

.detail p {
    font-size: 1.5em;
    color: #eeeeee;
}

.detail a {
    text-decoration: underline;
    color: #eeeeee;
    font-size: 1.5em;
}

.games{
    background-color: #222222;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    font-size: 2vw;
    color: #adadad;
}

.games p{
    line-height: 0.1;
}
