nav, 
header, 
footer{
    display: block;
}

body {
    margin: 0;
    background-color: #1f1f1f;
}

b, p, a, h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    z-index: 1;
}

ul.topnav {
    background-color: #1c1c24;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

li.topnav-left {
    float: left;
}

li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    font-size: 0.25 in;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #b3c3d8;
}

ul.topnav li a:hover {
    background-color: #828085;
    color: #050b13;
    font-weight: bold;
    
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #221c24;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: unset;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.background-img{
    background-size: cover;
    background-position: center;
    background-image: url(IMG_0080.jpg);
    height: 96vh;
    margin: 0;
}

.caption h1{
    position: relative;
    text-align: center;
    color: #222222;
    font-size:5vh;
    margin: -42vh 0 0;
}

.caption h2 {
    position: relative;
    text-align: center;
    color: #eeeeee;
    font-size: 2vh;
}

.detail {
    margin: 40vh 15% 20vh ;
}

.detail h1, h2, h3, li{
    color: #eeeeee;
}

.detail p {
    font-size: 1.5em;
    color: #eeeeee;
}

.detail a {
    text-decoration: underline;
    color: #eeeeee;
    font-size: 1.5em;
}

.games{
    background-color: #222222;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    font-size: 2vw;
    color: #adadad;
}

.games p{
    line-height: 0.1;
}

li.experiences{
    margin-bottom: 10px;
    margin-top: 100px; 
    text-align: center;
}

li.experiences-sub{
    margin-bottom: 25px;
    margin-top: 10px; 
    text-align: center;
}

iframe {
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

.description {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.5vw;
    color:#221c24;
    background-color: #b3c3d8;
    border-style: solid;
    border-width: 2px;
    border-color: #221c24;
    border-radius: 5px;
}

.video-container { z-index: 0; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.contact h1{
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    color: #eeeeee;
}

.contact img
{
    width: 40vw;
    height: instrinsic;
    object-fit: contain;
}

.contact-info
{
    margin-top: 50px;
    display: flex;
    padding: 50px;
}

.contact-info li
{
    margin-bottom: 100px;
    font-size: 20px;
    
}

.contact-info a
{
    text-decoration: none;
    
    color: #eeeeee;
}

.spaced
{
    height: 100%;
    margin-left: 15vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
}

.contact-info b
{
    color: #eeeeee;
}

.contact-info a:visited
{
    color: #eeeeee;
}

.contact-info a:hover
{
    color: #7c7c7c;
}

.about-me img
{
    width: 40vw;
    height: intrinsic;
    object-fit: contain;
}

.about-me h1
{
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    color: #eeeeee;
}

.about-me-entry
{
    font-size: 20px;
    padding: 50px;
    padding-top: 0;
}

.about-me-entry p
{
    color: #eeeeee;
}